<#%= current_user.contract.inspect %> - <%= controller_name %> - <%= action_name %>
<div class="col-md-12 col-xs-12">
  <div class="x_panel">
    <div class="x_title">
      <h2>Dados para Associação:<small>Para concluir sua associação preencha seus dados no formulário e efetue o pagamento da adesão.</small></h2>
        <ul class="nav navbar-right panel_toolbox">
          <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a></li> 
        </ul>
      <div class="clearfix"></div>
    </div>
    <div class="x_content" style="display: block;">
      <br>
      <% if @user.errors.any? %>
        <div class="alert alert-danger alert-dismissible" role="alert">
          <ul>
            <% @user.errors.full_messages.each do |message| %>
              <li>
                <strong><%= message %></strong>
              </li>
            <% end %>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close",
            style="position: relative; top: -30px;"><span aria-hidden="true">&times;</span>
            </button>
          </ul>
        </div>
      <% end %>

      <%= form_with(url: backoffice_users_profile_path(@user), model: @user, local: true,
        class: "form-horizontal form-label-left input_mask") do |form| %>

        <div class="col-md-4 col-sm-4 col-xs-12 form-group has-feedback">
          <%= form.text_field :first_name, id:"first_name", class:"form-control has-feedback-left",
          readonly:"true" %>
          <span class="fa fa-user form-control-feedback left" aria-hidden="true"></span>
        </div>

        <div class="col-md-4 col-sm-4 col-xs-12 form-group has-feedback">
          <%= form.text_field :last_name, id:"last_name", class:"form-control", readonly:"true" %>
          <span class="fa fa-user form-control-feedback right" aria-hidden="true"></span>
        </div>
        
        <div class="col-md-4 col-sm-4 col-xs-12 form-group has-feedback">
          <%= form.email_field :email, id:"email", class:"form-control has-feedback-left",
          readonly:"true" %>
          <span class="fa fa-envelope form-control-feedback left" aria-hidden="true"></span>
        </div>
      <% end %>
      
      <div class="ln_solid"></div>  
      <div class="form-group">
        <div class="col-md-9 col-sm-9 col-xs-12 col-md-offset-5">
          <%= link_to 'Cancel', backoffice_users_welcome_index_path, class:"btn btn-primary" %>
          <button class="btn btn-primary" type="reset">Reset</button>
          <button type="submit" class="btn btn-success">Submit</button>
        </div>
      </div>
    </div>
  </div>
</div>
          