<!-- Page Heading -->
<div class="d-sm-flex align-items-center justify-content-between mb-4">
	<h1 class="h3 mb-0 text-gray-800"><%= t('label.Dashboard') %></h1>
</div>
	<div class="row">
		<div class="col-lg-12">
			<!-- Collapsable Contract Card -->
			<div class="card shadow mb-4">
				<!-- Card Header - Accordion -->
				<a href="#collapseContractCard" class="d-block card-header py-3" data-toggle="collapse"
				 role="button" aria-expanded="true" aria-controls="collapseContractCard">
					<h6 class="m-0 font-weight-bold text-primary"><%= @contracts.model_name.human(count: 2) %></h6>
				</a>
				<!-- Card Content - Collapse -->
				<div class="collapse show" id="collapseContractCard">
					<div class="card-body">
						<div class="row">
							<!-- Total Contracts Card -->
							<div class="col-xl-3 col-md-6 mb-4">
								<div class="card border-left-primary shadow h-100 py-2">
									<div class="card-body">
										<div class="row no-gutters align-items-center">
											<div class="col mr-2">
												<div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
												<%= link_to "TOTAL", backoffice_admins_contracts_index_path %></div>
												<div class="h5 mb-0 font-weight-bold text-gray-800"><%= @contracts.size %></div>
											</div>
											<div class="col-auto">
												<i class="fas fa-file-contract fa-2x text-gray-300"></i>
											</div>
										</div>
									</div>
								</div>
							</div>
							<!-- Available Contracts Card -->
							<div class="col-xl-3 col-md-6 mb-4">
								<div class="card border-left-success shadow h-100 py-2">
									<div class="card-body">
										<div class="row no-gutters align-items-center">
											<div class="col mr-2">
												<div class="text-xs font-weight-bold text-success text-uppercase mb-1">
												Disponíveis</div>
												<div class="h5 mb-0 font-weight-bold text-gray-800">
												<%= @contracts.where(status: 0).size %></div>
											</div>
											<div class="col-auto">
												<i class="fas fa-clipboard-list fa-2x text-gray-300"></i>
											</div>
										</div>
									</div>
								</div>
							</div>
							<!-- Proccessing Payment Contracts Card -->
							<div class="col-xl-3 col-md-6 mb-4">
								<div class="card border-left-info shadow h-100 py-2">
									<div class="card-body">
										<div class="row no-gutters align-items-center">
											<div class="col mr-2">
												<div class="text-xs font-weight-bold text-info text-uppercase mb-1">
												Processando</div>
												<div class="h5 mb-0 font-weight-bold text-gray-800"><%= @contracts.where(status: 1).size %></div>
											</div>
											<div class="col-auto">
												<i class="fas fa-money-check-alt fa-2x text-gray-300"></i>
											</div>
										</div>
									</div>
								</div>
							</div>
							<!-- Paid Contracts Card -->
							<div class="col-xl-3 col-md-6 mb-4">
								<div class="card border-left-success shadow h-100 py-2">
									<div class="card-body">
										<div class="row no-gutters align-items-center">
											<div class="col mr-2">
												<div class="text-xs font-weight-bold text-success text-uppercase mb-1">
												Pagos</div>
												<div class="h5 mb-0 font-weight-bold text-gray-800">
												<%= @contracts.where(status: 2).size %></div>
											</div>
											<div class="col-auto">
												<i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="row">
						<!-- Active Contracts Card -->
							<div class="col-xl-3 col-md-6 mb-4">
								<div class="card border-left-info shadow h-100 py-2">
									<div class="card-body">
										<div class="row no-gutters align-items-center">
											<div class="col mr-2">
												<div class="text-xs font-weight-bold text-info text-uppercase mb-1">
												Ativos</div>
												<div class="row no-gutters align-items-center">
													<div class="col-auto">
														<div class="h5 mb-0 mr-3 font-weight-bold text-gray-800">
														<%= @contracts.where(status: 3).size %> %</div>
													</div>
													<div class="col">
														<div class="progress progress-sm mr-2">
															<div class="progress-bar bg-info" role="progressbar" style="width: 0%"
															 aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
														</div>
													</div>
												</div>
											</div>
											<div class="col-auto">
												<i class="fas fa-chart-line fa-2x text-gray-300"></i>
											</div>
										</div>
									</div>
								</div>
							</div>
							<!-- Defaulting Contracts Card -->
							<div class="col-xl-3 col-md-6 mb-4">
								<div class="card border-left-warning shadow h-100 py-2">
									<div class="card-body">
										<div class="row no-gutters align-items-center">
											<div class="col mr-2">
												<div class="text-xs font-weight-bold text-warning text-uppercase mb-1">
												Inadimplentes</div>
												<div class="h5 mb-0 font-weight-bold text-gray-800"><%= @contracts.where(status: 4).size %></div>
											</div>
											<div class="col-auto">
												<i class="fab fa-creative-commons-nc fa-2x text-gray-300"></i>
											</div>
										</div>
									</div>
								</div>
							</div>
							<!-- Suspended Contracts Card -->
							<div class="col-xl-3 col-md-6 mb-4">
								<div class="card border-left-warning shadow h-100 py-2">
									<div class="card-body">
										<div class="row no-gutters align-items-center">
											<div class="col mr-2">
												<div class="text-xs font-weight-bold text-warning text-uppercase mb-1">
												Suspensos</div>
												<div class="h5 mb-0 font-weight-bold text-gray-800">
												<%= @contracts.where(status: 5).size %></div>
											</div>
											<div class="col-auto">
												<i class="far fa-calendar-times fa-2x text-gray-300"></i>
											</div>
										</div>
									</div>
								</div>
							</div>
							<!-- Inactive Contracts -->
							<div class="col-xl-3 col-md-6 mb-4">
								<div class="card border-left-danger shadow h-100 py-2">
									<div class="card-body">
										<div class="row no-gutters align-items-center">
											<div class="col mr-2">
												<div class="text-xs font-weight-bold text-danger text-uppercase mb-1">
												Inativos</div>
												<div class="row no-gutters align-items-center">
													<div class="col-auto">
														<div class="h5 mb-0 mr-3 font-weight-bold text-gray-800">
														<%= @contracts.where(status: 6).size %> %</div>
													</div>
													<div class="col">
														<div class="progress progress-sm mr-2">
															<div class="progress-bar bg-info" role="progressbar" style="width: 0%"
															 aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
														</div>
													</div>
												</div>
											</div>
											<div class="col-auto">
												<i class="far fa-times-circle fa-2x text-gray-300"></i>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- Collapsable Admins Card -->
			<div class="card shadow mb-4">
				<!-- Card Header - Accordion -->
				<a href="#collapseAdminsCard" class="d-block card-header py-3" data-toggle="collapse"
				 role="button" aria-expanded="true" aria-controls="collapseAdminsCard">
					<h6 class="m-0 font-weight-bold text-primary"><%= @admins.model_name.human(count: 2) %></h6>
				</a>
				<!-- Card Content - Collapse -->
				<div class="collapse show" id="collapseAdminsCard">
					<div class="card-body">
						<div class="row">
							<!-- Total Contracts Card -->
							<div class="col-xl-3 col-md-6 mb-4">
								<div class="card border-left-primary shadow h-100 py-2">
									<div class="card-body">
										<div class="row no-gutters align-items-center">
											<div class="col mr-2">
												<div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
												Total</div>
												<div class="h5 mb-0 font-weight-bold text-gray-800"><%= @admins.size %></div>
											</div>
											<div class="col-auto">
												<i class="fas fa-file-contract fa-2x text-gray-300"></i>
											</div>
										</div>
									</div>
								</div>
							</div>
							<!-- Available Contracts Card -->
							<div class="col-xl-3 col-md-6 mb-4">
								<div class="card border-left-success shadow h-100 py-2">
									<div class="card-body">
										<div class="row no-gutters align-items-center">
											<div class="col mr-2">
												<div class="text-xs font-weight-bold text-success text-uppercase mb-1">
												Disponíveis</div>
												<div class="h5 mb-0 font-weight-bold text-gray-800">
												<%= @contracts.where(status: 0).size %></div>
											</div>
											<div class="col-auto">
												<i class="fas fa-clipboard-list fa-2x text-gray-300"></i>
											</div>
										</div>
									</div>
								</div>
							</div>
							<!-- Proccessing Payment Contracts Card -->
							<div class="col-xl-3 col-md-6 mb-4">
								<div class="card border-left-info shadow h-100 py-2">
									<div class="card-body">
										<div class="row no-gutters align-items-center">
											<div class="col mr-2">
												<div class="text-xs font-weight-bold text-info text-uppercase mb-1">
												Processando</div>
												<div class="h5 mb-0 font-weight-bold text-gray-800"><%= @contracts.where(status: 1).size %></div>
											</div>
											<div class="col-auto">
												<i class="fas fa-money-check-alt fa-2x text-gray-300"></i>
											</div>
										</div>
									</div>
								</div>
							</div>
							<!-- Paid Contracts Card -->
							<div class="col-xl-3 col-md-6 mb-4">
								<div class="card border-left-success shadow h-100 py-2">
									<div class="card-body">
										<div class="row no-gutters align-items-center">
											<div class="col mr-2">
												<div class="text-xs font-weight-bold text-success text-uppercase mb-1">
												Pagos</div>
												<div class="h5 mb-0 font-weight-bold text-gray-800">
												<%= @contracts.where(status: 2).size %></div>
											</div>
											<div class="col-auto">
												<i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- Collapsable Reps Card -->
			<div class="card shadow mb-4">
				<!-- Card Header - Accordion -->
				<a href="#collapseRepsCard" class="d-block card-header py-3" data-toggle="collapse"
				 role="button" aria-expanded="true" aria-controls="collapseRepsCard">
					<h6 class="m-0 font-weight-bold text-primary"><%= @reps.model_name.human(count: 2) %></h6>
				</a>
				<!-- Card Content - Collapse -->
				<div class="collapse show" id="collapseRepsCard">
					<div class="card-body">
						<div class="row">
							<!-- Total Contracts Card -->
							<div class="col-xl-3 col-md-6 mb-4">
								<div class="card border-left-primary shadow h-100 py-2">
									<div class="card-body">
										<div class="row no-gutters align-items-center">
											<div class="col mr-2">
												<div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
												Total</div>
												<div class="h5 mb-0 font-weight-bold text-gray-800"><%= @reps.size %></div>
											</div>
											<div class="col-auto">
												<i class="fas fa-file-contract fa-2x text-gray-300"></i>
											</div>
										</div>
									</div>
								</div>
							</div>
							<!-- Available Contracts Card -->
							<div class="col-xl-3 col-md-6 mb-4">
								<div class="card border-left-success shadow h-100 py-2">
									<div class="card-body">
										<div class="row no-gutters align-items-center">
											<div class="col mr-2">
												<div class="text-xs font-weight-bold text-success text-uppercase mb-1">
												Disponíveis</div>
												<div class="h5 mb-0 font-weight-bold text-gray-800">
												<%= @contracts.where(status: 0).size %></div>
											</div>
											<div class="col-auto">
												<i class="fas fa-clipboard-list fa-2x text-gray-300"></i>
											</div>
										</div>
									</div>
								</div>
							</div>
							<!-- Proccessing Payment Contracts Card -->
							<div class="col-xl-3 col-md-6 mb-4">
								<div class="card border-left-info shadow h-100 py-2">
									<div class="card-body">
										<div class="row no-gutters align-items-center">
											<div class="col mr-2">
												<div class="text-xs font-weight-bold text-info text-uppercase mb-1">
												Processando</div>
												<div class="h5 mb-0 font-weight-bold text-gray-800"><%= @contracts.where(status: 1).size %></div>
											</div>
											<div class="col-auto">
												<i class="fas fa-money-check-alt fa-2x text-gray-300"></i>
											</div>
										</div>
									</div>
								</div>
							</div>
							<!-- Paid Contracts Card -->
							<div class="col-xl-3 col-md-6 mb-4">
								<div class="card border-left-success shadow h-100 py-2">
									<div class="card-body">
										<div class="row no-gutters align-items-center">
											<div class="col mr-2">
												<div class="text-xs font-weight-bold text-success text-uppercase mb-1">
												Pagos</div>
												<div class="h5 mb-0 font-weight-bold text-gray-800">
												<%= @contracts.where(status: 2).size %></div>
											</div>
											<div class="col-auto">
												<i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>