<!-- Begin Page Content -->
<div class="container-fluid">
  <!-- DataTales Example -->
  <div class="card shadow mb-4">
    <div class="card-header py-3">
      <h6 class="m-0 font-weight-bold text-primary"><%= @reps.model_name.human(count: 2) %></h6>
    </div>
    <div class="card-body">
      <div class="table-responsive">
        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
          <thead>
            <tr>
              <th><%= @reps.human_attribute_name("id")%></th>
              <th><%= @reps.human_attribute_name("code")%></th>
              <th><%= @reps.human_attribute_name("full_name")%></th>
              <th><%= @reps.human_attribute_name("cpf")%></th>
              <th><%= @reps.human_attribute_name("rg")%></th>
              <th><%= @reps.human_attribute_name("contracts_count")%></th>
            </tr>
          </thead>
          <tfoot>
            <tr>
              <th><%= @reps.human_attribute_name("id")%></th>
              <th><%= @reps.human_attribute_name("code")%></th>
              <th><%= @reps.human_attribute_name("full_name")%></th>
              <th><%= @reps.human_attribute_name("cpf")%></th>
              <th><%= @reps.human_attribute_name("rg")%></th>
              <th><%= @reps.human_attribute_name("contracts_count")%></th>
            </tr>
          </tfoot>
          <tbody>
            <% @reps.each do |rep| %>
            <tr>
              <td><%= rep.id %></td>
              <td><%= rep.code %></td>
              <td><%= rep.full_name %></td>
              <td><%= rep.cpf %></td>
              <td><%= rep.rg %></td>
              <td><%= rep.contracts_count %></td>
            </tr>
            <% end %>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>